[Unit]
Description=deepin manual service

[Service]
CapabilityBoundingSet=~
MemoryLimit=8G
ExecStart=/usr/bin/dman --dbus
Type=dbus
BusName=com.deepin.Manual.Open
Slice=app.slice