[Desktop Entry]
Name=Deepin Manual
Keywords=documentation;information;manual;help;
Exec=dman %u
Icon=deepin-manual
StartupNotify=true
Terminal=false
Type=Application
Categories=Documentation;Utility;
MimeType=x-scheme-handler/dman;
Icon[cs] = deepin-manuál
Name[cs] = Deepin Manuál
Icon[pt] = deepin-manual
Name[pt] = Deepin Manual
Icon[pt_BR] = deepin-manual
Name[pt_BR] = Deepin Manual
Icon[zh_CN] = deepin-manual
Name[zh_CN] = 深度帮助手册
Icon[ar] = deepin-manual
Name[ar] = دليل ديبين
Icon[sk] = deepin-manual
Name[sk] = Deepin Manuál
Icon[es] = deepin-manual
Name[es] = Deepin Manual
Icon[ca] = manual-deepin
Name[ca] = Manual del Deepin
Icon[sl] = prirocnik-deepin
Name[sl] = Priročnik Deepin
Icon[fr] = manuel-deepin
Name[fr] = Manuel Deepin
Icon[da] = deepin-manual
Name[da] = Deepin manual
Icon[ast] = deepin-manual
Name[ast] = Deepin Manual
Icon[uk] = deepin-manual
Name[uk] = Підручник Deepin
Icon[de] = Deepin Benutzerhandbuch (deepin-manual)
Name[de] = Deepin Benutzerhandbuch
Name[sr] = Приручник за Дипин
Icon[tr] = deepin-klavuz
Name[tr] = Deepin Klavuz
Icon[pl] = deepin-manual
Name[pl] = Instrukcja Deepin
Icon[it] = deepin-manual
Name[it] = Deepin Manual
Icon[am_ET] = የ ዲፕኢን-መምሪያ
Name[am_ET] = የ ዲፕኢን መምሪያ
Icon[ru] = deepin-manual
Name[ru] = Руководство пользователя Deepin
