[Desktop Entry]
Categories=Documentation;System;Utility;
Exec=dman %u
GenericName=Manual
Icon=deepin-manual
Keywords=documentation;information;manual;help;
MimeType=x-scheme-handler/dman;
Name=Deepin Manual
StartupNotify=true
TZ='Asia/Shanghai'
Terminal=false
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ar]=كتيب إرشادات
GenericName[ast]=Manual
GenericName[az]=Təlimat
GenericName[bg]=Ръководство
GenericName[bn]=ম্যানুয়াল
GenericName[bo]=རོགས་རམ་ལག་དེབ།
GenericName[br]=Dornlevr
GenericName[ca]=Manual
GenericName[cs]=Příručka
GenericName[da]=Manual
GenericName[de]=Handbuch
GenericName[el]=Εγχειρίδιο
GenericName[es]=Manual
GenericName[fa]=کتابچه راهنما
GenericName[fi]=Käyttöohje
GenericName[fr]=Manuel
GenericName[gl_ES]=Manual
GenericName[hi_IN]=गाइड
GenericName[hr]=Priručnik
GenericName[hu]=Használati útmutató
GenericName[id]=Manual
GenericName[it]=Manual
GenericName[ja]=マニュアル
GenericName[ko]=매뉴얼
GenericName[lt]=Žinynas
GenericName[ms]=Panduan
GenericName[ne]=म्यानुअल
GenericName[nl]=Handleiding
GenericName[pl]=Instrukcja
GenericName[pt]=Manual
GenericName[pt_BR]=Manual
GenericName[ru]=Руководство
GenericName[sk]=Manuál
GenericName[sq]=Doracak
GenericName[sr]=Приручник
GenericName[tr]=Kılavuz
GenericName[ug]=قوللانما 
GenericName[uk]=Підручник
GenericName[zh_CN]=帮助手册
GenericName[zh_HK]=幫助手冊
GenericName[zh_TW]=說明書
Keywords[ar]=مستندات؛معلومات؛دليل؛مساعدة؛
Keywords[ast]=documentación;información;manual;ayuda;
Keywords[az]=documentation;information;manual;help;sənədləşmə;məlumat;təlimat;kömək;istifadə qaydaları;
Keywords[bg]=documentation;information;manual;help;
Keywords[bn]=ডকুমেন্টেশন;তথ্য;ম্যানুয়াল;সাহায্য;
Keywords[bo]=ཡིག་ཚགས། ཆ་འཕྲིན། ལག་དེབ། རོགས་རམ།
Keywords[br]=dielloù;titouroù;dornlevr;skoazell;
Keywords[ca]=documentació;informació;manual;ajuda;
Keywords[cs]=dokumentace;informace;příručka;nápověda;
Keywords[da]=dokumentation;information;manual;hjælp;
Keywords[de]=documentation;information;manual;help;handbuch;hilfe;info;
Keywords[el]=έγγραφα;iπληροφορίες;εγχειρίδιο;βοήθεια;
Keywords[es]=documentación;información;manual;ayuda;
Keywords[fa]=مستندات ؛ اطلاعات ؛ کتابچه راهنمای ؛ راهنما ؛
Keywords[fi]=documentation;information;manual;help;ohje;apua;tiedot;
Keywords[fr]=documentation;information;manuel;aide;
Keywords[gl_ES]=documentation;information;manual;help;
Keywords[hi_IN]=प्रलेखन;जानकारी;गाइड;सहायता;
Keywords[hr]=dokumentacija;informacija;priručnik;pomoć
Keywords[hu]=dokumentáció; információ; kézikönyv; segítség;
Keywords[id]=documentation;information;manual;help;
Keywords[it]=documentation;information;manual;help;
Keywords[ja]=documentation;information;manual;help;ドキュメント;インフォメーション;マニュアル;ヘルプ;
Keywords[ko]=documentation;information;manual;help;문서;정보;매뉴얼;도움말;도움;설명서;안내서;안내;
Keywords[lt]=dokumentacija;informacija;vadovas;žinynas;
Keywords[ms]=dokumentasi;maklumat;panduan;bantuan;
Keywords[ne]=डोकुमेनटेएसोन; सूचना; म्यानुअल; मद्दत;
Keywords[nl]=documentatie;informatie;handleiding;hulp;
Keywords[pl]=documentation;information;manual;help;dokumentacja;informacje;instrukcja;pomoc;
Keywords[pt]=documentação;informação;manual;ajuda;
Keywords[pt_BR]=documentation;information;manual;help;
Keywords[ru]=documentation;information;manual;help;
Keywords[sk]=documentation;information;manual;help;
Keywords[sq]=dokumentim;informacion;doracak;ndihmë;
Keywords[sr]=документација;информације;приручник;помоћ;
Keywords[tr]=dokümantasyon;belgeler;bilgi;kılavuz;rehber;yardım;
Keywords[ug]=ئارخىپ ؛ ئۇچۇر ؛ قوللانما ؛ياردەم ؛
Keywords[uk]=documentation;information;manual;help;документація;відомості;підручник;довідка;
Keywords[zh_CN]=文档;信息;manual;帮助;
Keywords[zh_HK]=文檔;訊息;幫助手冊;幫助;
Keywords[zh_TW]=documentation;information;manual;help;文件;資訊;手冊;說明書;幫助;協助;說明;
Name[am_ET]=የ ዲፕኢን መምርሪያ
Name[ar]=دليل ديبين
Name[ast]=Deepin Manual
Name[az]=Deepin Təlimatı
Name[bg]=Deepin ръководство
Name[bn]=ডিপিন ম্যানুয়াল
Name[bo]=གཏིང་ཟབ་རོགས་རམ་ལག་དེབ།
Name[br]=Dornlevr Deepin
Name[ca]=Manual del Deepin
Name[cs]=Příručka
Name[da]=Deepin manual
Name[de]=Deepin Benutzerhandbuch
Name[el]=Εγχειρίδιο Deepin
Name[es]=Manual
Name[fa]=کتابچه راهنمای دیپین
Name[fi]=Deepin käsikirja
Name[fr]=Manuel Deepin
Name[gl_ES]=Deepin Manual
Name[hi_IN]=दीपिन गाइड
Name[hr]=Deepin priručnik
Name[hu]=Deepin Használati útmutató
Name[id]=Panduan Deepin
Name[it]=Deepin Manual
Name[ja]=Deepin マニュアル
Name[ko]=Deepin 매뉴얼
Name[lt]=Deepin žinynas
Name[ms]=Panduan Deepin
Name[ne]=दीपिन म्यानुअल
Name[nl]=Deepin Handleiding
Name[pl]=Instrukcja Deepin
Name[pt]=Manual Deepin
Name[pt_BR]=deepin Manual
Name[ru]=Руководство Пользователя Deepin
Name[sk]=Deepin Manuál
Name[sl]=Priročnik Deepin
Name[sq]=Doracak Deepin-i
Name[sr]=Приручник за Дипин
Name[tr]=Deepin Kılavuz
Name[ug]= قوللانمىسى  Deepin
Name[uk]=Підручник Deepin
Name[zh_CN]=深度帮助手册
Name[zh_HK]=Deepin 幫助手冊
Name[zh_TW]=Deepin 說明書

