[Desktop Entry]
Categories=Documentation;Utility;
Exec=dman %u
GenericName=Manual
Icon=deepin-manual
Keywords=documentation;information;manual;help;
MimeType=x-scheme-handler/dman;
Name=Deepin Manual
StartupNotify=true
Terminal=false
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ast]=Manual
GenericName[bg]=Ръководство
GenericName[ca]=Manual
GenericName[cs]=Příručka
GenericName[da]=Manual
GenericName[de]=Handbuch
GenericName[es]=Manual
GenericName[fr]=Manuel
GenericName[id]=Manual
GenericName[it]=Manual
GenericName[ja]=マニュアル
GenericName[lt]=Žinynas
GenericName[ms]=Panduan
GenericName[pl]=Instrukcja
GenericName[pt]=Manual
GenericName[pt_BR]=Manual
GenericName[ru]=Руководство
GenericName[sr]=Приручник
GenericName[tr]=Kılavuz
GenericName[uk]=Підручник
GenericName[zh_CN]=帮助手册
GenericName[zh_TW]=說明書
Keywords[ast]=documentación;información;manual;ayuda;
Keywords[bg]=documentation;information;manual;help;
Keywords[ca]=documentació;informació;manual;ajuda;
Keywords[cs]=dokumentace;informace;příručka;nápověda;
Keywords[da]=dokumentation;information;manual;hjælp;
Keywords[de]=documentation;information;manual;help;handbuch;hilfe;info;
Keywords[es]=documentación;información;manual;ayuda;
Keywords[fr]=documentation;information;manuel;aide;
Keywords[id]=documentation;information;manual;help;
Keywords[it]=documentation;information;manual;help;
Keywords[ja]=documentation;information;manual;help;ドキュメント;インフォメーション;マニュアル;ヘルプ;
Keywords[lt]=dokumentacija;informacija;vadovas;žinynas;
Keywords[ms]=dokumentasi;maklumat;panduan;bantuan;
Keywords[pl]=documentation;information;manual;help;dokumentacja;informacje;instrukcja;pomoc;
Keywords[pt]=documentação;informação;manual;ajuda;
Keywords[pt_BR]=documentation;information;manual;help;
Keywords[ru]=documentation;information;manual;help;
Keywords[sr]=документација;информације;приручник;помоћ;
Keywords[tr]=dokümantasyon;belgeler;bilgi;kılavuz;rehber;yardım;
Keywords[uk]=documentation;information;manual;help;документація;відомості;підручник;довідка;
Keywords[zh_CN]=文档;信息;manual;帮助;
Keywords[zh_TW]=documentation;information;manual;help;文件;資訊;手冊;說明書;幫助;協助;說明;
Name[am_ET]=የ ዲፕኢን መምርሪያ
Name[ar]=دليل ديبين
Name[ast]=Deepin Manual
Name[bg]=Deepin ръководство
Name[bn]=ডিপিন ম্যানুয়াল
Name[ca]=Manual del Deepin
Name[cs]=Příručka
Name[da]=Deepin manual
Name[de]=Deepin Benutzerhandbuch
Name[de_DE]=Deepin Anwenderhandbuch
Name[el]=Εγχειρίδιο Deepin
Name[es]=Manual Deepin
Name[es_419]=Manual de Deepin
Name[fr]=Manuel Deepin
Name[id]=Panduan Deepin
Name[it]=Deepin Manual
Name[ja]=Deepin マニュアル
Name[lt]=Deepin žinynas
Name[ms]=Panduan Deepin
Name[nl]=Deepin Handboek
Name[pl]=Instrukcja Deepin
Name[pl_PL]=Instrukcja Deepin
Name[pt]=Deepin Manual
Name[pt_BR]=Manual do Deepin
Name[ru]=Руководство Пользователя Deepin
Name[sk]=Deepin Manuál
Name[sl]=Priročnik Deepin
Name[sr]=Приручник за Дипин
Name[tr]=Deepin Kılavuzu
Name[ug]= قوللانمىسى  Deepin
Name[uk]=Підручник Deepin
Name[zh_CN]=深度帮助手册
Name[zh_TW]=Deepin 說明書

