<div id="FrameBar" class="window-control-btn-container">
        <a id="MinimizeBtn"
           class="window-control-btn btn-window-minimize"
           href="javascript: minimize()"
           title="{{ 'TEXT_MINIMIZE'|translate }}">{{ 'TEXT_MINIMIZE'|translate }}</a>
        <a id="MaximizeBtn"
           class="window-control-btn btn-window-maximize"
           href="javascript: maximize()"
           title="{{ 'TEXT_MAXIMIZE'|translate }}">{{ 'TEXT_MAXIMIZE'|translate }}</a>
        <a id="CloseBtn"
           class="window-control-btn btn-window-close"
           href="javascript: close()"
           title="{{ 'TEXT_CLOSE'|translate }}">{{ 'TEXT_CLOSE'|translate }}</a>
        </div>