<nav id="NavigationBar" ng-controller="NavigationBarCtrl" class="navigation-bar" ng-class="{collapsed: isCollapsed}">
    <div id="NavLogoBox" class="app-icon-box">
        <a ng-click="jumpTo()">
            <img id="AppLogo" class="app-icon" ng-src="{{appInfo.markdownDir}}/{{appInfo.icon}}" />
            <span id="AppName" class="app-name">{{appInfo.name}}</span>
            <span id="LabelDot" class="app-name-delim">.</span>
            <span id="LabelManual" class="app-name-suffix-manual">{{ 'TEXT_MANUAL'|translate }}</span>
        </a>
    </div>

    <div id="SideNavigationBar" class="navigation-bar-aside">
        <div id="SideNavUpArrow" class="navigation-bar-aside-btn btn-arrow-up"></div>
        <ol id="SideNavigationItems">
            <li class="level2" ng-repeat="anchor in anchors">
                <a ng-click="jumpTo(anchor.id)" class="anchor-icon">
                    <img ng-src="{{appInfo.markdownDir}}/{{anchor.icon}}" ng-mouseenter="showTooltip(anchor.text, $event);" ng-mouseleave="showTooltip('', $event);" deepin-ui-svg-image />
                    <span>{{anchor.text}}</span>
                </a>

                <ol ng-if="anchor.children">
                    <li class="level3" ng-repeat="anchor2 in anchor.children">
                        <a ng-click="jumpTo(anchor2.id)">
                            <span>{{anchor2.text}}</span>
                        </a>
                    </li>
                </ol>
            </li>
        </ol>
        <div id="SideNavDownArrow" class="navigation-bar-aside-btn btn-arrow-down"></div>
    </div>
    <div id="NavigationSwitch" class="navigation-switch">
        <a href="javascript:;" ng-click="toggleNavigationCompactMode();" ng-class="{collapsed: isCollapsed}"></a>
    </div>
</nav>