<nav id="NavigationBar" ng-controller="NavigationBarCtrl" class="navigation-bar">
    <div id="NavLogoBox" class="app-icon-box">
        <a>
            <img id="AppLogo" class="app-icon" ng-src="{{appInfo.markdownDir}}/{{appInfo.icon}}" />
            <span id="AppName" class="app-name">{{appInfo.name}}</span>
            <span id="LabelDot" class="app-name-delim">.</span>
            <span id="LabelManual" class="app-name-suffix-manual">{{ 'TEXT_MANUAL'|translate }}</span>
        </a>
    </div>

    <div id="SideNavigationBar" class="navigation-bar-aside">
        <div id="SideNavUpArrow"
             class="navigation-bar-aside-btn"
             deepin-ui-svg-image="./resources/controls/up_arrow.svg"
             ng-mousedown="scrollUp()"
        ></div>
        <ol id="SideNavigationItems" class="level2">
            <li class="level2" ng-repeat="anchor in anchors">
                <a ng-click="jumpTo(anchor.id)" class="anchor-icon">
                    <!-- <div class="figure" deepin-ui-svg-image="{{appInfo.markdownDir}}/{{anchor.smallIcon}}" ng-mouseenter="showTooltip(anchor.text, $event);" ng-mouseleave="showTooltip('', $event);"></div> -->
                    <div class="header-box level2">
                        <span class="header-chapter"></span>
                        <span class="header-text">{{anchor.text}}</span>
                    </div>
                </a>

                <ol ng-if="anchor.children" class="level3">
                    <li class="level3" ng-repeat="anchor2 in anchor.children">
                        <a ng-click="jumpTo(anchor2.id)">
                            <div class="header-box level3">
                                <span class="header-chapter"></span>
                                <span class="header-text">{{anchor2.text}}</span>
                            </div>
                        </a>
                    </li>
                </ol>
            </li>
        </ol>
        <div id="SideNavDownArrow"
             class="navigation-bar-aside-btn"
             deepin-ui-svg-image="./resources/controls/down_arrow.svg"
             ng-mousedown="scrollDown()"
        ></div>
    </div>
    <div id="NavigationSwitch" class="navigation-switch">
        <a href="javascript:;" ng-click="toggleNavigationCompactMode();"></a>
    </div>
</nav>