<div id="SearchBox" ng-controller="SearchBoxCtrl" ng-mouseenter="showSearch()">

    <div class="search-input-box" ng-class="{'shadow-visible': searchBoxVisible}">
        <input type="search"
               id="SearchInput"
               class="search-input"
               placeholder="{{ 'TEXT_ENTER_KEYWORDS'|translate }}"
               ng-keydown="doSearch($scope,$event)"
               ng-class="{slidedown: searchBoxVisible}"
               ng-model="searchTerm" />
    </div>

    <div id="SuggestionsBox">
        <ul id="Suggestions" ng-bind-html="suggestions"></ul>
    </div>
</div>