<div id="Search" class="search-result-container" ng-show="isSearchMode" ng-controller="SearchCtrl">
    <a href="javascript:;" ng-click="returnPageview();" class="btn btn-control-return" title="{{ 'TEXT_RETURN'|translate }}">{{ 'TEXT_RETURN'|translate }}</a>
    <ul id="SearchResultsContainer" ng-if="searchResults.length" class="search-result">
        <li ng-repeat="match in searchResults">
            <h5><a class="anchor" ng-click="jumpTo(match.anchorId)" ng-bind-html="match.anchorText|highlight:searchTerm"></a></h5>
            <div class="match-texts" ng-click="jumpTo(match.anchorId)">
                <p class="match-text" ng-repeat="text in match.texts" ng-bind-html="text"></p>
            </div>
        </li>
    </ul>
    <div id="NoSearchResults" ng-if="!searchResults.length" class="no-search-result">
        <div id="NoSearchResultsTextBox" class="no-search-result-text">
            <p class="title">{{ 'TEXT_SORRY_NO_RESULT'|translate }}</p>
            <p>{{ 'TEXT_NO_RESULT_GUIDE_MESSAGE'|translate }}</p>
            <div class="ask-for-help">
                <a href="javascript: adapter.openExternalBrowser('http://wiki.deepin.org/');">{{ 'TEXT_ASK_FOR_HELP'|translate }}</a>
            </div>
        </div>
    </div>
</div>