<div id="SearchBox" ng-controller="SearchBoxCtrl" ng-mouseenter="searchInputVisible=true">

    <div class="search-input-box" ng-class="{'shadow-visible': searchInputVisible}">
        <input type="search"
               id="SearchInput"
               class="search-input"
               placeholder="{{ 'TEXT_ENTER_KEYWORDS'|translate }}"
               ng-keydown="doSearch($scope,$event)"
               ng-class="{slidedown: searchInputVisible}"
               ng-model="searchTerm" />

        <div id="SuggestionsBox">
          <ul id="Suggestions" ng-bind-html="suggestions"></ul>
        </div>
    </div>

</div>