<div id="SearchBox" class="search-box-container" ng-controller="SearchBoxCtrl"
     ng-mouseenter="onSearchBoxMouseEnter()"
     ng-mouseleave="onSearchBoxMouseLeave()">

    <div class="search-input-box" ng-class="{'shadow-visible': searchInputVisible}">
        <input type="search"
               id="SearchInput"
               class="search-input"
               placeholder="{{ 'TEXT_ENTER_KEYWORDS'|translate }}"
               ng-keydown="onKeydown($scope,$event)"
               ng-class="{slidedown: searchInputVisible}"
               ng-blur="onSearchInputBlur()"
               ng-model="searchTerm" />

        <div id="SuggestionsBox" class="search-suggestions-box">
            <ul id="Suggestions" ng-if="suggestions.length">
                <li ng-repeat="suggestion in suggestions" ng-class="{active: $index === currentIndex}">
                    <a ng-click="jumpTo(suggestion.anchorId)"
                       ng-bind-html="suggestion.anchorHtmlText"></a>
                </li>
                <li ng-class="{active: suggestions.length === currentIndex}">
                    <a>
                        {{ 'TEXT_FULL_SEARCH_PRE'|translate }}
                        {{ searchTerm }}
                        {{ 'TEXT_FULL_SEARCH_POST'|translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
