.idea/
unused
symdir
build/
PageRoot/
.vscode/

*.nw
*.log

*.pyo
*.pyc
__pycache__
.directory

debian/deepin-manual/
debian/manual/
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

# Qt creator
/*.config
/*.creator
/*.creator.user
/*.files
/*.includes
CMakeLists.txt.user
.sass-cache
debian/debhelper-build-stamp
obj-*
