.idea/
PageRoot/node_modules
PageRoot/www/style/**/*.css
unused/
dist/
symdir/

PageRoot/www/scripts
*.nw
*.log

*.pyo
*.pyc
__pycache__
.directory

debian/deepin-user-manual/
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

# Qt creator
/*.config
/*.creator
/*.files
/*.includes
