.idea/
unused
symdir
build/
.vscode/

*.nw
*.log

*.pyo
*.pyc
__pycache__
.directory

debian/deepin-manual/
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

# Qt creator
/*.config
/*.creator
/*.creator.user
/*.files
/*.includes
.sass-cache
