[Desktop Entry]
Name=User Manual
Name[zh_HK]=用戶手冊
Name[zh_TW]=用戶手冊
Name[zh_CN]=用户手册 
Exec=deepin-user-manual
StartupNotify=true
Terminal=false
Type=Application
Icon=deepin-user-manual
