[Desktop Entry]
Categories=utilities
Exec=deepin-user-manual
Icon=deepin-user-manual
Name=User Manual
Name[ar]=دليل المستخدم
Name[cs]=Uživatelská příručka
Name[da]=Brugermanual
Name[en]=User Manual
Name[es]=Manual del Usuario  
Name[fr]=Manuel d'utilisateur
Name[pt_BR]=Manual do Usuário
Name[ru]=Руководство пользователя
Name[sk]=Používateľská príručka
Name[sl]=Navodila za uporabo
Name[zh_CN]=用户手册
Name[zh_HK]=用戶手冊
Name[zh_TW]=使用者手冊
StartupNotify=true
Terminal=false
Type=Application
