html,body{ 
    margin:0;
    -webkit-user-select: none;
}
.wrap{ height:425px; width:685px; background:#faf8f9; padding-top: 13px;}
*:focus {
        outline: none;
}
ul,li{ margin:0px; padding:0; list-style:none;}

.menu .title{color:#535353; font-size:16px;}

.menu li {height:108px; width:108px; text-align:center; padding:5px; float:left; display:block; margin:10px 54px;}
.menu li:hover { background:#d4d4d4; cursor: pointer;}
.menu li:active { background:#96d1f5;}

.menu a{ display:block; height:60px; width:60px; margin:0 auto;}

.bar{ width:66px; height:12px; border:1px solid #fff; box-shadow:inset -2px 5px 3px #ccc; margin-left:20px; background:#e0e0e0; position:absolute;}
.barline{ background:#55bef3; height:12px; position:absolute; top:0; z-index:99;}
.percent{ text-align:center; color:#1b1b1b; font-size:9px; position:absolute; top:0; z-index:100; width:66px;}
