html,body{ margin:0}
.wrap{ height:438px; width:685px; background:#e8e8e8;}
*:focus {
        outline: none;
}
ul,li{ margin:0px; padding:0; list-style:none;}

.menu .title{color:#535353; font-size:16px;}

.menu li {height:108px; width:108px; text-align:center; padding:5px; float:left; display:block; margin:10px 54px;}
.menu li:hover { background:#d4d4d4;}
.menu li:active { background:#96d1f5;}

.menu a{ display:block; height:60px; width:60px; margin:0 auto;}

.bar{ width:66px; height:12px; border:1px solid #fff; box-shadow:inset -2px 5px 3px #ccc; margin-left:20px; background:#e0e0e0; position:absolute;}
.barline{ background:#4cabed; height:12px; position:absolute; top:0; z-index:99;}
.percent{ text-align:center; color:#666; font-size:9px; position:absolute; top:0; z-index:100; width:66px;}
