[Unit]                                                                                                        
Description=dmanHelper service
#After=network.target

[Service]                                                                                                     
ExecStart=/usr/bin/dmanHelper &
KillMode=process 
Restart=on-failure 
#RestartPreventExitStatus=255 
Type=simple
#RuntimeDirectory=manual
RuntimeDirectoryMode=0755 

[Install]
WantedBy=multi-user.target
#Alias=sshd.service
