@charset "utf-8";

html,body{
	width: 100%;
	min-width: 900px;
	font-family: "Source Han Sans SC", Arial, sans-serif;
	overflow: hidden;
	margin: 0px;
}

#app{
	width: 100%;
	outline: 0px;
	color: #464646;
	height: 100%;
	overflow: auto;
}
