@charset "utf-8";

html,body{
	width: 100%;
	min-width: 900px;
	font-family: "Source Han Sans SC", Arial, sans-serif;
	overflow: hidden;
	margin: 0px;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: #E6E6E6;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	width: 3px;
	background: #bbb;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#app{
	width: 100%;
	outline: 0px;
	color: #464646;
	height: 100%;
	overflow: auto;
	#index{
		width: 80%;
		margin: auto;
		.app{
			width: 18%;
			display:inline-block;
			text-align: center;
			cursor: pointer;
			img{
				width: 60%;
				margin-bottom: 10px;
			}
			img:hover{
				width: 65%;
				margin-bottom: 0px;
			}
			margin: 3%;
		}
		h2{
			font-weight: normal;
			font-size: 22px;
			line-height: 2em;
			margin: 1em 0 0;
			border-bottom: 1px solid #d7d7d7;
		}
	}
	progress{
		width: 100%;
		height: 10px;
	}
}
