@charset "utf-8";

html,body{
  width: 100%;
  min-width: 900px;
  font-family: "Source Han Sans SC", Arial, sans-serif;
  overflow: hidden;
}
#app{
  width: 99%;
  outline: 0px;
  color: #464646;
  height: 100%;
  overflow: auto;
  #index{
    width: 70%;
    margin: auto;
    .app{
      display:inline-block;
      text-align: center;
    }
    img{
      width: 120px;
      height: 120px;
      padding: 40px 50px;
    }
    h2{
      font-weight: normal;
      font-size: 22px;
      line-height: 2em;
      margin: 1em 0 0;
      border-bottom: 1px solid #d7d7d7;
    }
  }
}
