#article{
	float: left;
	width: 84%;
	#read {
		margin: auto;
		width:700px;
		font-size: 14px;
		color: #757575;
		outline: 0px;
		h2{
			font-weight: normal;
			font-size: 20px;
			color: #1f94ee;
		}
		img {
			max-width: 100%;
			//svg图片内嵌同行
			&[src$="svg"]{
				height: 20px;
				vertical-align: middle;
			}
			//png图片点击放大
			&[src$="png"]{
				cursor: pointer;
			}
		}
		p {
			line-height: 2em;
			margin: 1em 0;
		}
		table {
			font-size: 14px;
			$borderStyle:solid #CBCBCB;
			color: #888;
			border-collapse:collapse;
			border-top: 2px $borderStyle;
			border-bottom: 2px $borderStyle;
			white-space: nowrap;
			//表格block等级
			@for $i from 1 to 5{
				&.block#{$i}{
					width: 100%/$i;
				}
			}
			tr {
				border-bottom: 1px $borderStyle;
				td {
					padding: 5px;
				}
			}
		}
		a{
			text-decoration: none;
			font-weight: bold;
			color: #757575;
			cursor: pointer;
			&[href^="http"]{
				&:after{
					content: "🔗";
				}
			}
			&[href^="#"]{
				&:after{
					content: "🏴";
				}
			}
		}
		.searchWK{
			background-color: yellow;
		}
	}
	#fillblank{
		width: 100%;
		height: 100%;
	}
	#seeImg{
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		background-color: rgba(136, 136, 136, 0.8);
		overflow: auto;
		display:-webkit-box;
		-webkit-box-align:center;
		-webkit-box-pack:center; 
	}
}