@charset "utf-8";

#content{
	overflow: auto;
	height: 100%;
	#seeImage{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: auto;
		background-color: rgba(0.835294, 0.929412, 0.996078, 0.6);
		transform: 0.3;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		img{
			cursor:pointer;
		}
	}
	#fillBlank{
		width: 100%;
		height: 100%;
	}
}