@charset "utf-8";

#index{
    width: 80%;
    margin: auto;
    h2{
        font-weight: normal;
        font-size: 22px;
        line-height: 2em;
        margin: 1em 0 0;
        border-bottom: 1px solid #d7d7d7;
    }
    .item{
        width: 20%;
        height: 30%;
        display:inline-block;
        margin-top: 2%;
        text-align: center;
        cursor: pointer;
        img{
            width: 45%;
            padding-bottom: 5%;
        }
        img:hover{
            width: 50%;
            padding: 0;
        }
        h3{
            white-space:nowrap;
        }
    }
}