@charset "utf-8";

#index {
  user-select: none;
  display: flex;
  flex-flow: column;
  margin: 0 107px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
  }
  h2 {
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    margin: 1em 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  }
  .items {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &:after {
      content: '';
      flex: auto;
    }
    .empty {
      width: 160px;
      padding: 0 10px;
    }
    .item {
      margin-top: 30px;
      width: 160px;
      height: 160px;
      padding: 0 10px;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;
      cursor: pointer;
      img {
        width: 96px;
        margin-top: 16px;
        margin-bottom: 10px;
      }
      span {
        margin-top: 8px;
        font-size: 17px;
        font-weight: bold;
        line-height:25px;
        color: #001A2E;
      }
      &:focus,
      &:hover {
        background-clip: content-box;
        border-radius: 4px;
        // border: 1px solid transparent;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
