@charset "utf-8";

#index {
  user-select: none;
  display: flex;
  flex-flow: column;
  margin: -19px 70px -19px 107px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
  }
  h2 {
    font-family: SourceHanSansSC-Normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    margin: 0.5em 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;
  }
  .items {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .empty {
      width: 160px;
      padding: 0 10px;
    }
    .item {
      background-color: var(--index-item-background-color);
      border-radius: 18px;
      width: 160px;
      height: 160px;
      margin: 30px 40px 0 10px;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;
      cursor: pointer;
      img {
        width: 96px;
        margin-top: 16px;
        margin-bottom: 8px;
      }
      span {
        font-family: SourceHanSansSC-Bold;
        font-size: 17px;
        font-weight: bold;
        line-height:25px;
        color: var(--index-item-span-word-color);
      }
      &:focus,
      &:hover {
        background-clip: content-box;
        border-radius: 18px;
        // border: 1px solid transparent;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
