@charset "utf-8";

#index {
  user-select: none;
  display: flex;
  flex-flow: column;
  margin: 0 100px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
  }
  h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 2em;
    margin: 1em 0 0;
    border-bottom: 1px solid #d7d7d7;
  }
  .items {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &:after {
      content: '';
      flex: auto;
    }
    .empty {
      width: 160px;
    }
    .item {
      margin-top: 30px;
      width: 160px;
      height: 160px;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;
      cursor: pointer;
      img {
        width: 96px;
        padding-top: 10px;
        margin-bottom: 10px;
      }
      span {
        font-size: 16px;
        font-weight: normal;
        color: black;
      }
      span:lang(en_US) {
        word-wrap: break-word;
        font-size: 14px;
      }
      &:hover {
        border-radius: 4px;
        // border: 1px solid transparent;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
