@charset "utf-8";

//去除最外层滚动条
body {
    overflow: hidden;
}

#main {
    .tooltip-wp{
        position: absolute;
        width: 200px;
        // height: 40px;
        z-index: 100;
        display: none;
      }
      .tooltip-wp:after{
          content: attr(data-title);
          position: absolute;
          left: 0;
          top: 0;
          max-width: 500px;
          padding: 2px 5px;
          word-break: normal;
          background-color: var(--tips-background-color);
          color: var(--nav-h2-word-color);
          font-family: var(--nav-world-font-family);
          border-radius: 8px;
          border: 1px solid var(--tips-border-color);
          
      }

}