@charset "utf-8";
#nav {
  user-select: none;
  width: 15rem;
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  .h {
    margin: 10px 0;
    cursor: pointer;
    border-right: 3px solid transparent;
    padding-right: 1rem !important;
    &[type='h2'] {
      font-size: 16px;
      font-weight: 500;
      color: #001A2E;
      padding: 3px 0px;
      margin-left: 10px;
      margin-right: 11px;
      text-indent: 0.88rem;
    }
    &[type='h3'] {
      font-size: 13px;
      color: #414D68;
      padding: 6px 0;
      margin-left: 10px;
      margin-right: 11px;
      text-indent: 1.5rem;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .hash {
    background-color: #0081ff;
    color: #ffffff !important;
    border-radius: 8px;
    font-weight: bold;
  }
}
