@charset "utf-8";

#nav{
	float: left;
	width: 200px;
	height: 100%;
	overflow-y: auto;
	background-color: #F9F9FA;
	a{
		text-decoration: none;
	}
		@for $i from 0 to 3 {
			h#{$i+2}{
				color: #464646;
				cursor: pointer;
				text-indent: 5px+10px*$i;
				font-size: 15px-4px*$i;
				margin: 0;
				padding: 5px-1px*$i;
				font-weight: 500-$i*100;
			}
	}
	.hash{
		border-right: #2CA7F8 3px solid;
		background-color: #D5EDFE;
	}
}
