#search {
	width: 830px;
	margin: auto;
	div {
		width: 100%;
	}
	#mismatch {
		width: 80%;
		height: 100%;
		margin: auto;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		text-align: center;
		#NoResult {
			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 20px;
			color: #303030;
			margin-bottom: 13px;
		}
		#WikiSearch {
			font-size: 18px;
			color: #7a7a7a;
			margin-bottom: 20px;
		}
		#button {
			font-size: 12px;
			padding: 5px 20px;
			color: #2c2c2c;
			width: 80px;
			box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.02),
				inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
			border: solid 1px rgba(0, 0, 0, 0.08);
			text-align: center;
			cursor: pointer;
		}
	}
	.items {
		.itemsTitle {
			cursor: pointer;
			margin-top: 30px;
			height: 32px;
			font-weight: bold;
			img {
				height: 100%;
				vertical-align: middle;
				margin-right: 10px;
			}
			span {
				vertical-align: middle;
			}
		}
		.item {
			.itemTitle {
				margin: 7px 0px 10px 0px;
				font-size: 14px;
				height: 20px;
				font-weight: bold;
			}
			cursor: pointer;
			padding: 7px 18px;
			margin-top: 10px;
			font-size: 13px;
			line-height: 28px;
			border-radius: 3px;
			box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1),
				inset 0 2px 0 0 rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);

			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
		.highlight {
			color: #2bba57;
		}
	}
}
