#search {
	width: 830px;
	margin: auto;
	#mismatch {
		height: 100%;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		text-align: center;
		#NoResult {
			font-size: 20px;
			color: #303030;
			margin-bottom: 13px;
		}
		#WikiSearch {
			font-size: 18px;
			color: #7a7a7a;
			margin-bottom: 20px;
		}
		#button {
			font-size: 12px;
			padding: 5px 20px;
			color: #2c2c2c;
			width: 80px;
			box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.02),
				inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
			border: solid 1px rgba(0, 0, 0, 0.08);
			text-align: center;
			cursor: pointer;
		}
	}
	.items {
		.title {
			margin-top: 30px;
			height: 32px;
			font-weight: bold;
			img {
				height: 100%;
				vertical-align: middle;
				margin-right: 10px;
			}
			span {
				vertical-align: middle;
			}
		}
		.item {
			.title {
				margin: 7px 0px 10px 0px;
				font-size: 14px;
				height: 20px;
			}
			padding: 7px 18px;
			margin-top: 10px;
			font-size: 13px;
			line-height: 28px;
			border-radius: 3px;
			box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1),
				inset 0 2px 0 0 rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
		}
	}
}
