
.manualContainer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.manualNav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 260px;
}

.manualNavApp h1 {
  display: inline-block;
  font-size: 16px;
}

.manualNavApp img {
  width: 24px;
}

.manualNavItem img {
  width: 22px;
}

.manualNavWrap {
  counter-reset: level2;
}

.manualNavWrap h2 {
  display: inline-block;
  font-size: 14px;
  counter-reset: level3;
}

.manualNavWrap h2:hover, .manualNavWrap h3:hover, .manualNavWrap h4:hover {
  cursor: pointer;
}

.manualNavWrap h3 {
  display: inline-block;
  font-size: 13px;
  counter-reset: level4;
  margin-left: 15px;
}

.manualNavWrap h4 {
  display: inline-block;
  font-size: 12px;
  counter-reset: level5;
  margin-left: 25px;
}

.manualNavWrap h2::before {
  counter-increment: level2; /* Increment the section counter*/
  content: counters(level2, ".") ". "; /* Display the counter */
}

.manualNavWrap h3::before {
  counter-increment: level3; /* Increment the section counter*/
  content: counters(level2, ".") "." counters(level3, ".") " "; /* Display the counter */
}

.manualNavWrap h4::before {
  counter-increment: level4;
  content: counters(level2, ".") "." counters(level3, ".") "." counters(level4, ".") " ";
}

/** Manual content style **/
.manualContentWrapper {
  margin-left: 260px;
}
.manualContent {
  width: 672px;
  margin: 0 auto;
  height: 100%;
  background-color: white;
}

/*
 * Styling markdown content elements.
 * By pass innerHTML styling in angular. See:
 * https://github.com/angular/angular/issues/7845
 * https://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling
 */

::ng-deep .manualContent * {
  font-family: "Source Han Sans SC", Arial, sans-serif;
  font-size: 14px;
  color: #757575;
}

::ng-deep .manualContent h1 {
  font-weight: bold;
  font-size: 24px;
  color: black;
  line-height: 2em;
  margin: 1em 0;
}

::ng-deep .manualContent h2 {
  font-weight: normal;
  font-size: 22px;
  color: #1f94ee;
  line-height: 2em;
  margin: 1em 0 0;
  border-bottom: 1px solid #d7d7d7;
}

::ng-deep .manualContent h3 {
  font-weight: normal;
  font-size: 18px;
  color: #464646;
  line-height: 2em;
  margin: 1em 0;
}

::ng-deep .manualContent h4 {
  font-weight: normal;
  font-size: 16px;
  color: #464646;
  line-height: 2em;
  margin: 1em 0;
  clear: both;
}

::ng-deep .manualContent img.inline {
  vertical-align: middle;
  height: 20px;
}

::ng-deep .manualContent img.block1 {
  width: 100%;
}

::ng-deep .manualContent img.block2 {
  width: 48%;
  float: left;
}

::ng-deep .manualContent img.block3 {
  width: 32%;
  float: left;
}

::ng-deep .manualContent img.HeaderIcon {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: text-bottom;
}

::ng-deep .manualContent code {
  background-color: lightgrey !important;
}

::ng-deep .manualContent pre {
  padding: 10px;
  background-color: lightgrey !important;
}

::ng-deep .manualContent pre code {
  background-color: inherit !important;
}

::ng-deep .manualContent blockquote {
  border-left: 5px solid #EAEEF1;
  margin-left: 20px;
  padding-left: 20px;
}

::ng-deep .manualContent p {
  line-height: 2em;
  margin: 1em 0;
}

::ng-deep .manualContent blockquote p {
  font-style: italic;
  font-size: 13px;
  color: #888;
}

::ng-deep .manualContent strong {
  color: #6d6d6d;
}

/* Header counters */
::ng-deep .manualContent {
  counter-reset: level2;
}

::ng-deep .manualContent h2, ::ng-deep .manualContent h3, ::ng-deep .manualContent h4 {
  list-style: decimal;
}

::ng-deep .manualContent h2 {
  counter-reset: level3;
}

::ng-deep .manualContent h3 {
  counter-reset: level4;
}

::ng-deep .manualContent h2::before {
  counter-increment: level2; /* Increment the section counter*/
  content: counters(level2, ".") ". "; /* Display the counter */
}

::ng-deep .manualContent h3::before {
  counter-increment: level3; /* Increment the section counter*/
  content: counters(level2, ".") "." counters(level3, ".") " "; /* Display the counter */
}

::ng-deep .manualContent h4::before {
  counter-increment: level4;
  content: counters(level2, ".") "." counters(level3, ".") "." counters(level4, ".") " ";
}

::ng-deep .manualContent ol {
  padding-left: 24px;
  list-style-position: outside;
  line-height: 1.5;
}

::ng-deep .manualContent ol li ul {
  list-style-type: disc;
  padding-left: 24px;
  list-style-position: outside;
  line-height: 1.5;
}

::ng-deep .manualContent ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 24px;
  line-height: 1.5;
}

::ng-deep .manualContent table {
  border-spacing: 0px;
}

::ng-deep .manualContent table caption {
  margin-bottom: 8px;
  text-align: left;
}

::ng-deep .manualContent thead th {
  border: 1px rgb(0, 160, 233) solid;
  padding: 5px 10px;
  color: #888 !important;
}

::ng-deep .manualContent td {
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding: 5px 10px;
  color: #888 !important;
  margin: 0;
/*&.blank {*/
   /*border-width: 0;*/
 /*}*/
}

::ng-deep .manualContent tbody tr:first-child td{
  border-width: 2px 0 0 0;
  border-color: #cbcbcb;
}

::ng-deep .manualContent tbody tr:last-child td{
  border-width: 1px 0 2px 0;
  border-color: #cbcbcb;
}

::ng-deep .manualContent table.columns {
  width: 100%;
}

::ng-deep .manualContent table.columns td {
  width: 50%;
  border: none;
  padding: 0;
}

::ng-deep .manualContent table.block1 {
  width: 100%;
  margin-bottom: 29px;
}

::ng-deep .manualContent table.block2 {
  width: 48%;
  float: left;
  margin: 0 1% 29px;
}

::ng-deep .manualContent table.block3 {
  width: 31%;
  float: left;
  margin: 0 1% 29px;
}
