@charset "utf-8";

#index {
  user-select: none;
  display: flex;
  flex-flow: column;
  margin: -19px 117px -19px 117px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
  }
  h2 {
    // font-family: SourceHanSansSC-Normal;
    font-family: var(--nav-world-font-family);
    font-weight: normal;
    font-size: 3.1rem;
    line-height: 4.5rem;
    margin: 0.5em 0 0;
    border-bottom: 1px solid var(--index-h2-color);
    padding-bottom: 12px;
  }
  
  .items {
    display: flex;
    position:relative;
    left:-50px;
    width:calc(100% + 100px);
    right:0px;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .empty {
      width: 160px;
      padding: 0 10px;
    }
    .item {
      background-color: var(--index-item-background-color);
      border-radius: 18px;
      padding:0px;
      // width: 160px;
      // height: 160px;
      width: var(--index-item-size);
      height: var(--index-item-size);
      margin: 30px 0px 0px 50px;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;
      cursor: pointer;
      img {
        width: 96px;
        height: 96px;
        margin-top: 18px;
        margin-bottom: 3px;
      }
      .content {
        //margin-left: 15px;    //保持span居中,当设置display:-webkit-box后,默认居左,故设置其外边距
        width: var(--index-span-width);
        word-break: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto;
        //display:-webkit-box;    //设置其排列两行
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        font-family: var(--nav-world-font-family);
        font-size: var(--span-font-size);
        line-height: var(--span-line-height);
        // font-weight: bold;
        color: var(--index-item-span-word-color);
      }
      //&:focus,
      &:hover {
        background-clip: content-box;
        border-radius: 18px;
        // border: 1px solid transparent;
        background-color: var(--index-item-hover-color);
      }

      .tag{
        display: inline-block;
        height: 8px;
        width: 8px;
        margin-right: 4px;
        margin-bottom: var(--span-maring-bottom);;
        box-shadow:  0px 2px 8px 0px var(--nav-hash-hover-color);
        border-radius: 8px;
        background-color: var(--nav-hash-word-color);
      }
    }
  }
}
