#!/usr/bin/make -f

export QT_SELECT=qt5
export DH_VERBOSE=1

DH_AUTO_ARGS = --parallel --buildsystem=cmake

%:
	dh $@ --parallel

# Override qcef exe path to /usr/lib/qcef.
override_dh_auto_configure:
	dh_auto_configure -- \
	  -DCMAKE_BUILD_TYPE=Release \
	  -DDMAN_MANUAL_DIR=/usr/share/dman \
	  -DDMAN_RESOURCE_DIR=/usr/share/dman \
	  -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	dh_auto_build -- dman
