#!/usr/bin/make -f

export QT_SELECT=qt5
export DH_VERBOSE=1

DH_AUTO_ARGS = --parallel --buildsystem=cmake

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
	  -DCMAKE_BUILD_TYPE=Release \
	  -DDMAN_RELEASE=ON \
	  -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	git submodule update --init --recursive
	git submodule update --remote
	dh_auto_build -- dman
