#nav {
  float: left;
  width: 200px;
  height: 100%;
  overflow-y: auto; }
  #nav a {
    text-decoration: none; }
  #nav h2 {
    color: #464646;
    cursor: pointer;
    text-indent: 5px;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    font-weight: 450; }
  #nav h3 {
    color: #464646;
    cursor: pointer;
    text-indent: 15px;
    font-size: 11px;
    margin: 0;
    padding: 4px;
    font-weight: 420; }
  #nav h4 {
    color: #464646;
    cursor: pointer;
    text-indent: 25px;
    font-size: 7px;
    margin: 0;
    padding: 3px;
    font-weight: 390; }
  #nav .hash {
    background-color: #D5EDFE; }
