@charset "utf-8";

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

$pageWidth: 672px;

* {
    font-family: "Source Han Sans SC", Arial, sans-serif;
    font-size: 14px;
    color: #757575;
}

body {
    margin: 0 auto;
    width: $pageWidth;
    background-color: white;
}

img.inline {
    width: 2em;
    height: 2em;
    vertical-align: bottom;
    display: inline;
}

img.block1 {
    width: 100%;
}

img.block2 {
    width: 48%;
    float: left;
    &:nth-child(2n) {
        margin-left: 4%;
    }
}

img.block3 {
    width: 32%;
    float: left;
    &:nth-child(2n), &:nth-child(3n) {
        margin-left: 2%;
    }
}

img.HeaderIcon {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: text-bottom;
}

p {
    // text-indent: 17px;
    line-height: 2em;
    margin: 1em 0;
    @include clearfix;
}

li {
    p {
        margin: 9px 0;
        line-height: 12px;
        img.inline {
            height: 22px;
            width: 22px;
        }
    }
}

h1 {
    // font-family: "Source Han Sans SC Normal";
    font-weight: bold;
    font-size: 24px;
    color: black;
    line-height: 2em;
    margin: 1em 0;
    @include clearfix;
}

h2 {
    // font-family: "Source Han Sans SC Normal";
    font-weight: normal;
    font-size: 22px;
    color: #1f94ee;
    line-height: 2em;
    margin: 1em 0 0;
    border-bottom: 1px solid #d7d7d7;
    clear: both;
}

h3 {
    // font-family: "Source Han Sans SC Normal";
    font-weight: normal;
    font-size: 18px;
    color: #464646;
    line-height: 2em;
    margin: 1em 0;
    clear: both;
}

h4 {
    // font-family: "Source Han Sans SC Normal";
    font-weight: normal;
    font-size: 16px;
    color: #464646;
    line-height: 2em;
    margin: 1em 0;
    clear: both;
}

code {
    background-color: lightgrey !important;
}

pre {
    padding: 10px;
    background-color: lightgrey !important;
    code {
        background-color: inherit !important;
    }
    @include clearfix;
}

table {
    caption {
        margin-bottom: 8px;
        text-align: left;
    }
    thead {
        tr {
            th {
                border: 1px rgb(0, 160, 233) solid;
                padding: 5px 10px;
                color: #888 !important;
            }
        }
    }
    tbody {
        tr {
            td {
                border-color: #e0e0e0;
                border-style: solid;
                border-width: 1px 0;
                padding: 5px 10px;
                color: #888 !important;
                &.blank {
                    border-width: 0;
                }
            }
            &:first-child {
                td {
                    border-top-width: 2px;
                    border-color: #cbcbcb;
                }
            }
            &:last-child {
                td {
                    border-bottom-width: 2px;
                    border-color: #cbcbcb;
                }
            }
        }
    }
}

table.block1 {
    width: 100%;
    margin-bottom: 29px;
}

table.block2 {
    width: 48%;
    float: left;
    margin: 0 1% 29px;
}

table.block3 {
    width: 31%;
    float: left;
    margin: 0 1% 29px;
}

blockquote {
    border-left: 5px solid #EAEEF1;
    margin-left: 20px;
    padding-left: 20px;

    p {
        font-style: italic;
        font-size: 13px;
        color: #888;
        strong {
            color: #6d6d6d;
        }
    }
}

// ordered > unordered
ol {
    padding-left: 12px;
    list-style-position: inside;
    li {
        ul {
            list-style-type: disc;
            padding-left: 12px;
            list-style-position: inside;
            li {

            }
        }
    }
}

// unordered
ul {
    padding-left: 12px;
    list-style-position: inside;
    list-style-type: circle;
    li {

    }
}

table.columns {
    width: 100%;
    tbody {
        td {
            width: 50%;
            border: none;
            padding: 0;
        }
    }
}

strong {
    color: rgb(51, 51, 51);
}

a {
    border-bottom: 1px solid #31a4fc;
    padding-bottom: 2px;
    text-decoration: none;
}


// Header counters
body {
    counter-reset: level2;
}

h2, h3, h4 {
    list-style: decimal;
}

h2 {
    counter-reset: level3;
}

h3 {
    counter-reset: level4;
}

h2::before {
    counter-increment: level2;               /* Increment the section counter*/
    content: counters(level2, ".") ". "; /* Display the counter */
}

h3::before {
    counter-increment: level3;               /* Increment the section counter*/
    content: counters(level2, ".") "." counters(level3, ".") " "; /* Display the counter */
}

h4::before {
    counter-increment: level4;
    content: counters(level2, ".") "." counters(level3, ".") "." counters(level4, ".") " ";
}

// end of Header counters

footer.__spaceholder {
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
}
