@charset "utf-8";

/*-------------------------------------------*/
/* Global variable                           */
/*-------------------------------------------*/

// client side decoration dimensions.
$csdTH: 0px;  // Top height
$csdRW: 0px;  // Right width
$csdBH: 0px;  // Bottom height
$csdLW: 0px;  // Left width

// client area width
$caW: 946px;

$navBgcolor: #252628;
$theBlue: #0086ff;
$highlightColor: #01bdff;

// page view
$pvNavBarWidth: 200px;
$pvNavBarCompactWidth: 48px;

// over view
$ovNavBarHeight: 84px;
$navLogoBoxHeight: 64px;


$titleBarHeight: 30px;


/*-------------------------------------------*/
/* Global Style                              */
/*-------------------------------------------*/

// custom scrollbar
::-webkit-scrollbar {
    width: 8px;  /* for vertical scrollbars */
    height: 14px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::-webkit-input-placeholder {
    line-height: 16px;
}

/*-------------------------------------------*/
/* Mixins                                    */
/*-------------------------------------------*/

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin disable-user-select {
    -webkit-user-select: none;
}

/*-------------------------------------------*/
/* index style                               */
/*-------------------------------------------*/

html, body {
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    font-family: "Source Han Sans SC", Arial, sans-serif;
}

body {
    height: 100%;
}

input[type='search'] {
    width: 50px;
}

#Container {
    position: fixed;
    padding: 0 !important;
    outline: 0 !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
    .debug-mode & {
        background-color: firebrick !important;
        margin: $csdTH $csdRW $csdBH $csdLW !important;
        height: calc(100% - #{$csdTH} - #{$csdBH});
        width: calc(100% - #{$csdLW} - #{$csdRW});
    }
}

#NavigationBar {
    background-color: $navBgcolor;
    color: #bdbdbd;
    position: relative;
    @include disable-user-select;

    ol {
        list-style-type: none;
        // counter-reset: item;
        padding: 0;

        // li {
        //     counter-increment: item;
        //     a > span:before {
        //         content: counters(item, ".") ". ";
        //     }
        // }
    }

    li ol li {
        margin-left: 5px !important;
        // &:before {
        //     content: counters(item, ".") " ";
        // }
    }

    a, a:link {
        cursor: pointer;
    }
}

#TopLevelItemsBox {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

#TopLevelItemsView {
    @include clearfix;
    width: 232px * 4;
    margin: 0 auto;
    padding: 32px 0 0;

    li {
        float: left;
        display: block;
        width: 232px;
        height: 158px;
        @include clearfix;
        text-align: center;
    }

    a {
        display: block;
        color: #818181;
        cursor: pointer;
        svg path,
        svg rect {
            fill: #818181 !important;
        }
        &:hover {
            color: #31a4fc;
            svg path,
            svg rect {
                fill: #31a4fc !important;
            }
        }
    }

    img, .figure {
        width: 64px;
        height: 64px;
        margin: 0 auto;
        .debug-mode & {
            background-color: darkgrey;
        }
    }

    p {
        margin: 0;
        margin-top: 14px;
        height: 2.5em;
        line-height: 1.25em;
        @include text-ellipsis;
    }
}

.overview-mode {
    #NavigationBar {
        height: $ovNavBarHeight;
        overflow: hidden;
    }

    #SideNavigationBar {
        display: none;
    }

    #Overview {
        height: calc(100% - #{$ovNavBarHeight});
        margin-top: 0;
        @include disable-user-select;
        .debug-mode & {
            background-color: pink;
        }
    }

    #SearchInput {
        top: 36px;
        right: 50px;
    }

    #AppLogo {
        margin-right: 16px;
    }

}

.pageview-mode {
    #NavigationBar {
        width: $pvNavBarWidth;
        float: left;
    }

    #NavLogoBox {
        height: $navLogoBoxHeight - 16px;
        > a {
            height: 32px;
            margin: 14px 0 2px 10px;
        }
        img {
            width: 32px;
            height: 32px;
            margin-right: 8px;
        }
        #AppName {
            height: 32px;
            line-height: 32px;
            font-size: 16px;
            color: #fff;
        }
    }

    #SideNavigationBar {
        display: block;
        overflow: hidden !important;
        height: 100%;
        font-size: 13px;
    }

    #Content {
        width: calc(100% - #{$pvNavBarWidth});
        height: calc(100% - #{$titleBarHeight});
        overflow: scroll;
        float: right;
        display: block;
        border: 0;
        padding-top: $titleBarHeight;
        .debug-mode & {
            background-color: green;
        }
    }

    // #SideNavigationBar {
    //     height: 600px; //calc(100% - #{$navLogoBoxHeight} - 1300px);
    // }

    #SideNavigationItems { // ol
        padding-left: 40px;
        margin: 0;
        overflow: hidden;
        height: 100%;

        li {
            line-height: 24px;
        }

        .level2 { // li
            margin-top: 16px;
            position: relative;
            img, .figure {
                position: absolute;
                margin: 0;
                display: block;
                width: 24px;
                height: 24px;
                left: -30px;
            }
            ol {
                display: none;
            }
        }

        .level3 {
            text-indent: 0.5em;
            line-height: 1.7em;
        }

        .current-section {
            &>a>span {
                color: $theBlue;
            }
            svg rect,
            svg path {
                fill: $theBlue !important;
            }
            ol {
                display: block;
            }
        }

    }

    #SearchInput {
        // margin: 0 auto;
        left: calc(50% - #{$pvNavBarWidth});
    }

    #LabelDot, #LabelManual {
        display: none;
    }
}

// search related.
#Search {
    background-color: white;
    .debug-mode & {
        background-color: orange;
    }
    .overview-mode & {
        height: calc(100% - #{$ovNavBarHeight});
        margin-top: 0;
        overflow-y: hidden;
    }
    .pageview-mode & {
        width: calc(100% - #{$pvNavBarWidth});
        height: 100%;
        overflow: scroll;
        float: right;
        display: block;
        margin-top: #{$titleBarHeight};
        border: 0;
        z-index: 50000;
    }
    span.highlight {
        color: $highlightColor;
    }
    a.anchor {
        color: #494949;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
    p.match-text {
        color: #878787;
        font-size: 13px;
    }
}

#SearchInput {
    position: absolute;
    width: 260px;
    height: 24px;
}

#SearchBox {
    .overview-mode & {
        display: block;
    }
    .pageview-mode & {
        // display: none;
        position: absolute;
        top: 28px;
        width: 100%;
        left: 30px;
        height: 26px;
        margin-left: $pvNavBarWidth;
    }
    .compact-mode & {
        margin-left: $pvNavBarCompactWidth;
    }

    .debug-mode & {
        background: lime;
    }
}

#NoSearchResults {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;

    #NoSearchResultsTextBox {
        margin: auto;
    }
}

// Logo related
$logoHeight: 48px;

#NavLogoBox {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    > a {
        display: block;
        margin: auto 0;
        margin-left: 20px;
        height: $logoHeight;
    }
}

#AppLogo {
    width: 48px;
    height: $logoHeight;
    float: left;
    .debug-mode & {
        background-color: green;
    }
}

#AppName, #LabelDot, #LabelManual {
    font-size: 20px;
    height: $logoHeight;
    line-height: $logoHeight;
    float: left;
}

// Frame, border, etc
//#OuterFrame {
//    padding: 0 !important;
//    margin: 0 !important;
//    outline: 0 !important;
//    position: fixed;
//    width: 100%;
//    z-index: -100;
//    .debug-mode & {
//        background-color: skyblue;
//    }
//}

#MoveHandle {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
    position: fixed;
    width: calc(100% - 80px);
    height: 30px;
    z-index: 10001;
    background-color: transparent;
    .debug-mode & {
        background-color: darkmagenta;
    }
}

#FrameBar {
    position: fixed;
    z-index: 10000;
    text-indent: -9999em;
    right: $csdRW;
    @include disable-user-select;
    .window-control-btn {
        width: 15px;
        height: 20px;
        margin: 5px;
        float: left;
        -webkit-app-region: no-drag;
    }
    a:focus {
        outline: none;
    }
}

#MinimizeBtn {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_minimise_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_minimise_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_minimise_press.png");
        background-repeat: no-repeat;
    }
}

#MaximizeBtn {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_maximize_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_maximize_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_maximize_press.png");
        background-repeat: no-repeat;
    }
}

.isMaximized #MaximizeBtn {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_unmaximize_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_unmaximize_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_unmaximize_press.png");
        background-repeat: no-repeat;
    }
}

#CloseBtn {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_close_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_close_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_close_press.png");
        background-repeat: no-repeat;
    }
}

.search-input {
    border-radius: 3px;
    height: 30px;
    outline: none;
    border: 1px solid #000;
    color: #b4b4b4;
    background: linear-gradient(to bottom, #171717, #212121);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.05);
    top: -55px;

    &::-webkit-input-placeholder {
        color: #b4b4b4;
    }

    &:focus {
        border-color: $theBlue;
    }

    .pageview-mode & {
        border: 1px solid lightgrey;
        color: #000;
        background: white;
        left: 50%;

        &:focus {
            border-color: $theBlue;
        }

        &.slidedown {
            top: 0;
        }
        &.slidedown-add,
        &.slidedown-remove {
            transition: top 0.53s;
        }
        &.slidedown-add-active {
            top: 0;
        }
        &.slidedown-remove-active {
            top: -55px;
        }
    }


    &::-webkit-textfield-decoration-container {
        background: url("../resources/controls/search-white.svg") no-repeat 5px 50%;
        background-size: 16px;
        padding-left: 22px;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        background-image: url("../resources/controls/dark_clear_normal.png");
        .pageview-mode & {
            background-image: url("../resources/controls/clear_normal.png");
        }
        background-repeat: no-repeat;
        background-position: center;
    }

    &::-webkit-search-cancel-button:hover {
        background-image: url("../resources/controls/dark_clear_hover.png");
        .pageview-mode & {
            background-image: url("../resources/controls/clear_hover.png");
        }
    }

    &::-webkit-search-cancel-button:active {
        background-image: url("../resources/controls/dark_clear_press.png");
        .pageview-mode & {
            background-image: url("../resources/controls/clear_press.png");
        }
    }
}


.pageview-mode {
    .collapsed#NavigationBar {
        width: 48px;
        #NavLogoBox span {
            display: none;
        }
        #SideNavigationItems {
            padding-left: 10px;
        }
        .level2 {
            img, .figure {
                position: static;
            }
            span {
                display: none;
            }
        }
    }
}

.navigation-switch {
    position: absolute;
    right: -30px;
    top: 18px;
    width: 30px;
    height: 25px;
    a {
        display: block;
        width: 15px;
        height: 100%;
        background: url("../resources/controls/bookmark.png") right top;
        &.collapsed{
            width: 25px;
        }
    }
    .debug-mode & {
        background: orange;
    }
}

.no-search-result {
    p, a {
        display: block;
        font-size: 12px;
        text-align: center;
    }
    p.title {
        font-size: 16px;
        margin: 0.2em 0;
    }
}


.debug-mode {
    #SideNavigationItems .level2 img {
        background-color: skyblue;
    }
}

.compact-mode {
    #Content,#Search {
        width: calc(100% - #{$pvNavBarCompactWidth});
    }
}

#SuggestionsBox {
    width: 258px;
    margin-top: 2px;
    position: absolute;
    display: none;
    z-index: 50000;
    right: 52px;
    top: 60px;
    a {
        color: #bdbdbd;
        text-decoration: none;
    }
    .pageview-mode & {
        left: calc(50% - 200px);
        top: 24px;
    }
    // .search-input:hover + &,
    .search-input:focus + &,
    &:hover {
        display: block;
    }
    #Suggestions {
        width: 100%;
        padding: 0;
        margin: 0;
        display: none;
        list-style-type: none;
        -webkit-user-select: none;
        user-select: none;
        border-radius: 5px;
        color: #bdbdbd;
        background-color: #191919;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0px 4px 9px rgba(0,0,0,0.15),
                inset 0px 1px 0px rgba(255,255,255,0.1),
                inset 0px 2px 0px rgba(255,255,255,0.05);
        .pageview-mode & {
            background-color: #fff;
            border: 1px solid lightgrey;
        }
        &:not(:empty) {
            display: block;
        }
        & > li {
            padding: 2px 14px;
            margin: 5px 0;
            font-size: 12px;
            color: #747474;
            &:hover,
            &.active {
                a {
                    color: #fff;
                }
                background: rgba(0,0,0,0.4);
            }
        }
        & > li .highlight {
            color: $highlightColor;
        }
        & > li > a {
            display: block;
            cursor: pointer;
        }
    }
}