@charset "utf-8";

/*-------------------------------------------*/
/* Global variable                           */
/*-------------------------------------------*/

// client side decoration dimensions.
$csdTH: 0px;  // Top height
$csdRW: 0px;  // Right width
$csdBH: 0px;  // Bottom height
$csdLW: 0px;  // Left width

// client area width
$caW: 946px;

$navBgcolor: #252628;
$theBlue: #0086ff;
$highlightColor: #01bdff;

// page view
$pvNavBarWidth: 200px;
$pvNavBarCompactWidth: 48px;

// over view
$ovNavBarHeight: 84px;
$navLogoBoxHeight: 64px;


$titleBarHeight: 30px;

// Logo related
$logoHeight: 48px;


/*-------------------------------------------*/
/* Global Style                              */
/*-------------------------------------------*/

// custom scrollbar
::-webkit-scrollbar {
    width: 8px;  /* for vertical scrollbars */
    height: 14px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

/*-------------------------------------------*/
/* Mixins                                    */
/*-------------------------------------------*/

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin disable-user-select {
    -webkit-user-select: none;
}

/*-------------------------------------------*/
/* index style                               */
/*-------------------------------------------*/

html, body {
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    font-family: "Source Han Sans SC", Arial, sans-serif;
}

body {
    height: 100%;
}

#Container {
    position: fixed;
    padding: 0 !important;
    outline: 0 !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.search-input {
    position: absolute;
    width: 260px;
    height: 24px;
}

.app-icon-box {
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex;
    > a {
        display: block;
        margin: auto 0;
        margin-left: 20px;
        height: $logoHeight;
    }
}

.app-icon, .app-name {
    z-index: 10050;
}

.app-icon {
    width: 48px;
    height: $logoHeight;
    float: left;
}

.app-name, .app-name-delim, .app-name-suffix-manual {
    font-size: 20px;
    height: $logoHeight;
    line-height: $logoHeight;
    float: left;
}

// Frame, border, etc
//#OuterFrame {
//    padding: 0 !important;
//    margin: 0 !important;
//    outline: 0 !important;
//    position: fixed;
//    width: 100%;
//    z-index: -100;
//    .debug-mode & {
//        background-color: skyblue;
//    }
//}

.move-handle {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding: 0;
    margin: 0;
    outline: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 10050;
    background-color: transparent;

    .pageview-mode & {
        width: calc(100% - 80px - 200px);
        margin-left: 200px;
    }
    .pageview-mode.compact-mode & {
        width: calc(100% - 80px - 48px);
        margin-left: 48px;
    }
    .overview-mode & {
        width: calc(100% - 80px - 68px);
        margin-left: 68px;
    }
}

.window-control-btn-container {
    position: fixed;
    z-index: 99999;
    text-indent: -9999em;
    right: $csdRW;
    @include disable-user-select;
    .window-control-btn {
        width: 15px;
        height: 20px;
        margin: 5px;
        float: left;
        -webkit-app-region: no-drag;
    }
    a:focus {
        outline: none;
    }
}

.btn-window-minimize {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_minimise_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_minimise_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_minimise_press.png");
        background-repeat: no-repeat;
    }
}

.btn-window-maximize {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_maximize_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_maximize_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_maximize_press.png");
        background-repeat: no-repeat;
    }
}

.isMaximized .btn-window-maximize {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_unmaximize_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_unmaximize_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_unmaximize_press.png");
        background-repeat: no-repeat;
    }
}

.btn-window-close {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_close_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_close_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_close_press.png");
        background-repeat: no-repeat;
    }
}

.search-input {
    border-radius: 3px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    outline: none;
    border: 1px solid #000;
    color: #b4b4b4;
    background: linear-gradient(to bottom, #171717, #212121);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.05);
    top: -55px;

    &::-webkit-input-placeholder {
        font-size: 14px;
        color: #b4b4b4;
    }

    &:focus {
        border-color: $theBlue;
    }

    &::-webkit-textfield-decoration-container {
        background: url("../resources/controls/search-white.svg") no-repeat 5px 50%;
        background-size: 16px;
        padding-left: 22px;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        background-image: url("../resources/controls/dark_clear_normal.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    &::-webkit-search-cancel-button:hover {
        background-image: url("../resources/controls/dark_clear_hover.png");
    }

    &::-webkit-search-cancel-button:active {
        background-image: url("../resources/controls/dark_clear_press.png");
    }
}

.search-suggestions-box {
    width: 258px;
    margin-top: 2px;
    position: absolute;
    display: none;
    // z-index: 50000;
    right: 52px;
    top: 60px;
    a {
        color: #bdbdbd;
        text-decoration: none;
    }
    // .search-input:hover + &,
    .search-input:focus + &,
    &:hover {
        display: block;
    }
    & > ul {
        width: 100%;
        padding: 0;
        margin: 0;
        display: none;
        list-style-type: none;
        -webkit-user-select: none;
        user-select: none;
        border-radius: 5px;
        color: #bdbdbd;
        background-color: #191919;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0px 4px 9px rgba(0,0,0,0.15),
                inset 0px 1px 0px rgba(255,255,255,0.1),
                inset 0px 2px 0px rgba(255,255,255,0.05);
        &:not(:empty) {
            display: block;
        }
        & > li {
            padding: 2px 14px;
            margin: 5px 0;
            font-size: 12px;
            color: #747474;
            &:hover,
            &.active {
                a {
                    color: #fff;
                }
                background: rgba(0,0,0,0.4);
            }
        }
        & > li .highlight {
            color: $highlightColor;
        }
        & > li > a {
            display: block;
            cursor: pointer;
        }
    }
}


/*-------------------------------------------*/
/* pageview mode style                       */
/*-------------------------------------------*/

.navigation-bar {
    background-color: $navBgcolor;
    color: #bdbdbd;
    position: relative;
    @include disable-user-select;

    ol {
        list-style-type: none;
        // counter-reset: item;
        padding: 0;

        // li {
        //     counter-increment: item;
        //     a > span:before {
        //         content: counters(item, ".") ". ";
        //     }
        // }
    }

    li ol li {
        margin-left: 5px !important;
        // &:before {
        //     content: counters(item, ".") " ";
        // }
    }

    a, a:link {
        cursor: pointer;
    }
}

// .navigation-bar {
//     ol {
//         counter-reset: item;
//         li {
//             counter-increment: item;
//             a > span:before {
//                 content: counters(item, ".") ". ";
//             }
//         }
//     }

//     li ol li {
//         &:before {
//             content: counters(item, ".") " ";
//         }
//     }
// }


.navigation-switch {
    position: absolute;
    right: -30px;
    top: 18px;
    width: 30px;
    height: 25px;
    z-index: 10050;
    a {
        display: block;
        width: 15px;
        height: 100%;
        background: url("../resources/controls/bookmark.png") right top;
        &.collapsed{
            width: 25px;
        }
    }
}


.pageview-mode {
    .navigation-bar {
        width: $pvNavBarWidth;
        float: left;
    }

    .app-icon-box {
        height: $navLogoBoxHeight - 16px;
        > a {
            height: 32px;
            margin: 14px 0 2px 10px;
        }
        img {
            width: 32px;
            height: 32px;
            margin-right: 8px;
        }
        .app-name {
            height: 32px;
            line-height: 32px;
            font-size: 16px;
            color: #fff;
        }
    }

    .app-name-delim, .app-name-suffix-manual {
        display: none;
    }

    .navigation-bar-aside {
        display: block;
        overflow: hidden !important;
        height: 100%;
        font-size: 13px;

        ol { // ol
            padding-left: 40px;
            margin: 0;
            overflow: hidden;
            height: 100%;

            li {
                line-height: 24px;
            }

            .level2 { // li
                margin-top: 16px;
                position: relative;
                img, .figure {
                    margin: 0;
                    display: block;
                    width: 24px;
                    height: 24px;
                }
                .figure {
                    position: absolute;
                    left: -30px;
                }
                ol {
                    display: none;
                }
                &:last-child {
                    margin-bottom: 16px;
                }
            }

            .level3 {
                text-indent: 0.5em;
                line-height: 1.7em;
            }

            .current-section {
                &>a>span {
                    color: $theBlue;
                }
                svg rect,
                svg path {
                    fill: $theBlue !important;
                }
                ol {
                    display: block;
                    padding: 0;
                }
            }
        }

        .navigation-bar-aside-btn {
            display: none;
            &.btn-arrow-up, &.btn-arrow-down {
                height: 15px;
                width: 100%;
                background-position: 50%;
                background-repeat: no-repeat;
            }
            &.btn-arrow-up {
                &.normal {
                    background-image: url("../resources/controls/up_arrow.svg");
                }
                &.end {
                    background-image: url("../resources/controls/up_arrow.svg");
                }
            }
            &.btn-arrow-down {
                &.normal {
                    background-image: url("../resources/controls/down_arrow.svg");
                }
                &.end {
                    background-image: url("../resources/controls/down_arrow.svg");
                }
            }
        }
    }

    .manual-content-container {
        float: right;
        display: block;
        width: calc(100% - #{$pvNavBarWidth});
        height: calc(100% - #{$titleBarHeight});
        margin-top: #{$titleBarHeight};
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 25px;
            width: 100%;
            background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        }
    }

    .manual-content {
        width: 100%;
        height: 100%;
        float: right;
        display: block;
        border: 0;
        position: relative;
        iframe {
            width: 100%;
            height: 100%;
            overflow: scroll;
        }
    }

    // .navigation-bar-aside {
    //     height: 600px; //calc(100% - #{$navLogoBoxHeight} - 1300px);
    // }

    .search-result-container {
        width: 100%;
        height: 100%;
        overflow: scroll;
        display: block;
        border: 0;
    }

    .search-box-container {
        // display: none;
        position: absolute;
        top: 30px;
        width: 360px;
        left: 26px;
        height: 35px;
        margin: 0 calc((100% - 360px + 200px) / 2);
        z-index: 10050;
    }

    .search-input {
        border: 1px solid lightgrey;
        color: #000;
        background: white;
        left: calc((100% - 260px) / 2);

        &:focus {
            border-color: $theBlue;
        }

        &.slidedown {
            top: 0;
        }
        &.slidedown-add,
        &.slidedown-remove {
            transition: top 0.53s;
        }
        &.slidedown-add-active {
            top: 0;
        }
        &.slidedown-remove-active {
            top: -55px;
        }
    }

    &::-webkit-search-cancel-button {
        background-image: url("../resources/controls/clear_normal.png");
    }

    &::-webkit-search-cancel-button:hover {
        background-image: url("../resources/controls/clear_hover.png");
    }

    &::-webkit-search-cancel-button:active {
        background-image: url("../resources/controls/clear_press.png");
    }

    .collapsed.navigation-bar {
        width: 48px;
        .app-icon-box span {
            display: none;
        }
        ol {
            padding-left: 10px;
        }
        .level2 {
            img, .figure {
                position: static;
            }
            span {
                display: none;
            }
        }
    }

    .search-input-box {
        height: 60px;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%);
        opacity: 0;
        &.shadow-visible {
            opacity: 1;
            margin: 0 calc(-100% + 100px + 38px);
            margin-top: -12px;
            .search-mode & {
                height: 38px;
                background: #fff;
            }
        }
        &.shadow-visible-add,
        &.shadow-visible-remove {
            transition: opacity 0.53s;
        }
        &.shadow-visible-add-active {
            opacity: 1;
        }
        &.shadow-visible-remove-active {
            opacity: 0;
        }
    }

    .search-suggestions-box {
        left: calc(50% - 200px + 70px);
        top: 24px;
        & > ul {
            background-color: #fff;
            border: 1px solid lightgrey;
        }
    }
}

/*-------------------------------------------*/
/* overview mode style                       */
/*-------------------------------------------*/

.toplevel-items-box {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

.toplevel-items-list {
    @include clearfix;
    width: 232px * 4;
    margin: 0 auto;
    padding: 32px 0 0;

    li {
        float: left;
        display: block;
        width: 232px;
        height: 158px;
        @include clearfix;
        text-align: center;
    }

    a {
        display: block;
        color: #818181;
        cursor: pointer;
        svg path,
        svg rect {
            fill: #818181 !important;
        }
        &:hover {
            color: #31a4fc;
            svg path,
            svg rect {
                fill: #31a4fc !important;
            }
        }
    }

    img, .figure {
        width: 64px;
        height: 64px;
        margin: 0 auto;
    }

    p {
        margin: 0;
        margin-top: 14px;
        height: 2.5em;
        line-height: 1.25em;
        @include text-ellipsis;
    }
}

.overview-mode {
    .navigation-bar {
        height: $ovNavBarHeight;
        overflow: hidden;
    }

    .navigation-bar-aside {
        display: none;
    }

    .overview-box {
        height: calc(100% - #{$ovNavBarHeight});
        margin-top: 0;
        overflow-y: auto;
        @include disable-user-select;
    }

    .search-input {
        top: 36px;
        right: 50px;
        z-index: 10051;
    }

    .app-icon {
        margin-right: 16px;
    }

    .search-result-container {
        height: calc(100% - #{$ovNavBarHeight});
        margin-top: 0;
        overflow-y: hidden;
    }

    .search-box-container {
        display: block;
    }
}

/*-------------------------------------------*/
/* compact mode style                        */
/*-------------------------------------------*/

.compact-mode {
    .search-input-box {
        &.shadow-visible {
            margin: 0 calc(-100% + 50px + 50px - 38px);
            margin-top: -12px;
        }
    }

    .search-box-container {
        margin: 0 calc((100% - 360px + 48px) / 2);
    }

    .manual-content-container {
        width: calc(100% - #{$pvNavBarCompactWidth});
    }
}


/*-------------------------------------------*/
/* search mode style                         */
/*-------------------------------------------*/

.search-result-container {
    position: relative;
    background-color: white;
    span.highlight {
        color: $highlightColor;
    }
    .btn-control-return {
        position: absolute;
        text-indent: -9999em;
        background: url("../resources/controls/return.png") no-repeat;
        width: 24px;
        height: 24px;
        left: 16px;
        top: -4px;
        z-index: 10099;
    }
    a.anchor {
        color: #494949;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
    p.match-text {
        position: relative;
        color: #878787;
        font-size: 13px;
        overflow: hidden;
        cursor: pointer;
        .ellipsis {
            position: absolute;
            padding-right: 10px;
            right: 0;
            bottom: 0;
            background: #fff;
        }
    }
}

.search-result {
    padding-bottom: 30px;
    margin-top: 50px;
}

.no-search-result {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;

    p, a {
        display: block;
        font-size: 12px;
        text-align: center;
    }
    p.title {
        font-size: 16px;
        margin: 0.2em 0;
    }

    .no-search-result-text {
        margin: auto;
    }
}


.search-mode {
    &.pageview-mode {
        .search-input-box {
            height: 38px;
            background: #fff;
        }
        .manual-content {
            display: none;
        }
    }
}


/*-------------------------------------------*/
/* debug mode style                          */
/*-------------------------------------------*/

.debug-mode {
    ol .level2 img {
        background-color: skyblue;
    }

    #Container {
        background-color: firebrick !important;
        margin: $csdTH $csdRW $csdBH $csdLW !important;
        height: calc(100% - #{$csdTH} - #{$csdBH});
        width: calc(100% - #{$csdLW} - #{$csdRW});
    }

    .toplevel-items-list {
        img, .figure {
            background-color: darkgrey;
        }
    }

    .search-result-container {
        background-color: orange;
    }

    .search-box-container {
        background: lime;
    }

    .app-icon {
        background-color: green;
    }

    .move-handle {
        background-color: darkmagenta;
    }

    .navigation-switch {
        background: orange;
    }

    .overview-mode {
        .overview-box {
            background-color: pink;
        }
    }

    .pageview-mode {
        .manual-content {
            background-color: green;
        }
    }
}