@charset "utf-8";

// custom scrollbar
::-webkit-scrollbar {
    width: 8px;  /* for vertical scrollbars */
    height: 14px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::-webkit-input-placeholder {
    line-height: 16px;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// client side decoration dimensions.
$csdTH: 3px;  // Top height
$csdRW: 3px;  // Right width
$csdBH: 3px;  // Bottom height
$csdLW: 3px;  // Left width

// client area width
$caW: 946px;

$navBgcolor: #252628;

// page view
$pvNavBarWidth: 200px;
$pvNavBarCompactWidth: 48px;

// over view
$ovNavBarHeight: 84px;
$navLogoBoxHeight: 64px;


$titleBarHeight: 30px;


html, body {
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    font-family: "Source Han Sans SC",Arial,sans-serif;
}

body {
    height: 100%;
}

#Container {
    position: fixed;
    padding: 0 !important;
    outline: 0 !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
    .isDebugging & {
        background-color: red !important;
        margin: $csdTH $csdRW $csdBH $csdLW !important;
        height: calc(100% - #{$csdTH} - #{$csdBH});
        width: calc(100% - #{$csdLW} - #{$csdRW});
    }
}

input[type='search'] {
    width: 50px;
}

#NavigationBar {
    background-color: $navBgcolor;
    color: #b5b5b6;
    position: relative;

    ol {
        list-style-type: none;
        counter-reset: item;
        padding: 0;

        li {
            counter-increment: item;
            a > span:before {
                content: counters(item, ".") ". ";
            }
        }
    }

    li ol li {
        margin-left: 5px !important;
        &:before {
            content: counters(item, ".") " ";
        }
    }

    a, a:link {
        cursor: pointer;
    }
}

#TopLevelItemsBox {
    display: flex;
    height: 100%;
}

#TopLevelItemsView {
    @include clearfix;
    width: 232px * 4;
    margin: 0 auto;
    padding: 34px 0 0;

    li {
        float: left;
        display: block;
        width: 232px;
        height: 144px;
        @include clearfix;
        text-align: center;
    }

    a {
        display: block;
        color: #94989f;
        cursor: pointer;
        &:hover {
            color: #616161;
        }
    }

    img {
        width: 64px;
        height: 64px;
        margin: 0 auto 14px;
        .isDebugging & {
            background-color: darkgrey;
        }
    }
}

.isOverview {
    #NavigationBar {
        height: $ovNavBarHeight;
        overflow: hidden;
    }

    #SideNavigationBar {
        display: none;
    }

    #Overview {
        height: calc(100% - #{$ovNavBarHeight});
        margin-top: 0;
        .isDebugging & {
            background-color: pink;
        }
    }

    #SearchInput {
        top: 36px;
        right: 50px;
    }

    #AppLogo {
        margin-right: 12px;
    }

}

.isPageview {
    #NavigationBar {
        width: $pvNavBarWidth;
        float: left;
    }

    #NavLogoBox {
        height: $navLogoBoxHeight;
        > a {
            margin-left: 0;
        }
        img {
            margin-right: 6px;
        }
    }

    #SideNavigationBar {
        display: block;
        overflow: hidden !important;
        height: 100%;
        font-size: 13px;
    }

    #Content {
        width: calc(100% - #{$pvNavBarWidth});
        height: calc(100% - #{$titleBarHeight});
        overflow: scroll;
        float: right;
        display: block;
        border: 0;
        padding-top: $titleBarHeight;
        .isDebugging & {
            background-color: green;
        }
    }

    // #SideNavigationBar {
    //     height: 600px; //calc(100% - #{$navLogoBoxHeight} - 1300px);
    // }

    #SideNavigationItems { // ol
        padding-left: 40px;
        margin: 0 auto;
        overflow: hidden;
        height: 100%;
        width: 136px;

        nav {
            margin: 2px 0;
        }

        li {
            line-height: 2em;
        }

        .level2 { // li
            position: relative;
            img {
                position: absolute;
                width: 30px;
                height: 30px;
                left: -44px;
            }
        }

        .level3 {
            text-indent: 0.5em;
            line-height: 1.7em;
        }

    }

    #SearchInput {
        // margin: 0 auto;
        left: calc(50% - #{$pvNavBarWidth});
    }

    #LabelDot, #LabelManual {
        display: none;
    }
}

// search related.
#Search {
    background-color: white;
    .isDebugging & {
        background-color: orange;
    }
    .isOverview & {
        height: calc(100% - #{$ovNavBarHeight});
        margin-top: 0;
        overflow-y: hidden;
    }
    .isPageview & {
        width: calc(100% - #{$pvNavBarWidth});
        height: 100%;
        overflow: scroll;
        float: right;
        display: block;
        margin-top: #{$titleBarHeight};
        border: 0;
        z-index: 50000;
    }
    span.highlight {
        background-color: yellow;
        color: blue;
    }
    a.anchor {
        color: #494949;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
    p.match-text {
        color: #878787;
        font-size: 13px;
    }
}

#SearchInput {
    position: absolute;
    width: 260px;
    height: 24px;
}

#SearchBox {
    .isOverview & {
        display: block;
    }
    .isPageview & {
        // display: none;
        position: absolute;
        top: 28px;
        width: 100%;
        left: 30px;
        height: 26px;
        margin-left: $pvNavBarWidth;
    }
    .compact-mode & {
        margin-left: $pvNavBarCompactWidth;
    }

    .isDebugging & {
        background: lime;
    }
}


// Logo related
$logoHeight: 48px;

#NavLogoBox {
    height: 100%;
    display: flex;
    > a {
        display: block;
        margin: auto 0;
        margin-left: 20px;
        height: $logoHeight;
    }
}

#AppLogo {
    width: 48px;
    height: $logoHeight;
    float: left;
    .isDebugging & {
        background-color: green;
    }
}

#AppName, #LabelDot, #LabelManual {
    height: $logoHeight;
    line-height: $logoHeight;
    float: left;
}

// Frame, border, etc
#OuterFrame {
    padding: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
    position: fixed;
    width: 100%;
    z-index: -100;
    .isDebugging & {
        background-color: skyblue;
    }
}

#MoveHandle {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
    margin: 3px 3px 0;
    .isDebugging & {
        background-color: darkmagenta;
    }
}

#FrameBar {
    position: fixed;
    z-index: 10000;
    right: $csdRW;
    .Btn {
        width: 15px;
        height: 20px;
        margin: 5px;
        float: left;
        -webkit-app-region: no-drag;
    }
    a:focus {
        outline: none;
    }
}

#MinimizeBtn {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_minimise_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_minimise_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_minimise_press.png");
        background-repeat: no-repeat;
    }
}

#MaximizeBtn {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_maximize_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_maximize_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_maximize_press.png");
        background-repeat: no-repeat;
    }
}

.isMaximized #MaximizeBtn {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_unmaximize_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_unmaximize_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_unmaximize_press.png");
        background-repeat: no-repeat;
    }
}

#CloseBtn {
    background-position: -6px 0;
    background-image: url("../resources/frame/dark_close_normal.png");
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../resources/frame/dark_close_hover.png");
        background-repeat: no-repeat;
    }
    &:active {
        background-image: url("../resources/frame/dark_close_press.png");
        background-repeat: no-repeat;
    }
}

.search-input {
    border-radius: 5px;
    height: 30px;
    outline: none;
    border: 1px solid lightgrey;
    background-color: white;
    top: -55px;

    .isPageview & {
        left: 50%;
    }

    transition: top 0.53s;

    &.slidedown {
        top: 0;
        &.slidedown-add {
            top: 0;
        }
        &.slidedown-remove {
            top: -55px;
        }
    }
}

.search-input::-webkit-textfield-decoration-container {
    background: url("../resources/controls/search-white.svg") no-repeat 5px 50%;
    background-size: 16px;
    padding-left: 22px;
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-image: url("../resources/controls/clear_normal.png");
    background-repeat: no-repeat;
    background-position: center;
}

.search-input::-webkit-search-cancel-button:hover {
    background-image: url("../resources/controls/clear_hover.png");
}

.search-input::-webkit-search-cancel-button:active {
    background-image: url("../resources/controls/clear_press.png");
}

.isPageview {
    .collapsed#NavigationBar {
        width: 48px;
        #NavLogoBox span {
            display: none;
        }
        #SideNavigationItems {
            padding-left: 52px;
        }
        nav nav {
            display: none;
        }
    }
}

.navigation-switch {
    position: absolute;
    right: -30px;
    top: 18px;
    width: 30px;
    height: 25px;
    .isDebugging & {
        background: orange;
        a {
            display: block;
            width: 20px;
            height: 100%;
            background: fuchsia;
        }
    }
}


.isDebugging {
    #SideNavigationItems .level2 img {
        background-color: skyblue;
    }
}

.compact-mode {
    #Content {
        width: calc(100% - #{$pvNavBarCompactWidth});
    }
}