@charset "utf-8";

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// client side decoration dimensions.
$csdTH: 3px;  // Top height
$csdRW: 3px;  // Right width
$csdBH: 3px;  // Bottom height
$csdLW: 3px;  // Left width

// client area width
$caW: 946px;

$navBgcolor: #252628;

// page view
$pvNavBarWidth: 200px;


// over view
$ovNavBarHeight: 84px;
$navLogoBoxHeight: 84px;


html, body {
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
}

body {
    height: 100%;
}

#Container {
    position: fixed;
    padding: 0 !important;
    outline: 0 !important;
    margin: $csdTH $csdRW $csdBH $csdLW !important;
    background-color: red !important;
    height: calc(100% - #{$csdTH} - #{$csdBH});
    width: calc(100% - #{$csdLW} - #{$csdRW});
    overflow: hidden;
}

input[type='search'] {
    width: 50px;
}

#NavigationBar {
    background-color: $navBgcolor;
    color: #b5b5b6;

    ol {
        list-style-type: none;
        counter-reset: item;
        padding: 0;

        li {
            display: table;
            counter-increment: item;
            &:before {
                content: counters(item, ".") ". ";
                display: table-cell;
            }
        }
    }

    li ol li {
        margin-left: 5px !important;
        &:before {
            content: counters(item, ".") " ";
        }
    }

    a, a:link {
        cursor: pointer;
    }
}

#TopLevelItemsBox {
    display: flex;
    height: 100%;
}

#TopLevelItemsView {
    @include clearfix;
    width: 232px * 4;
    margin: 0 auto;

    padding: 34px 0 0;

    li {
        float: left;
        display: block;
        width: 232px;
        height: 144px;
        @include clearfix;
        text-align: center;
    }

    img {
        width: 64px;
        height: 64px;
        background-color: darkgrey;
        margin: 0 auto 14px;
    }
}

.isOverview {
    #NavigationBar {
        height: $ovNavBarHeight;
    }

    #SideNavigationBar {
        display: none;
    }

    #Overview {
        height: calc(100% - #{$ovNavBarHeight});
        margin-top: 0;
        background-color: pink;
    }

    #SearchInput {
        top: 36px;
        right: 50px;
    }

}

.isPageview {
    #NavigationBar {
        width: $pvNavBarWidth;
        float: left;
    }

    #NavLogoBox {
        height: $navLogoBoxHeight;
    }

    #SideNavigationBar {
        display: block;
        overflow: hidden !important;
        height: calc(100% - #{$navLogoBoxHeight});
    }

    #Content {
        width: calc(100% - #{$pvNavBarWidth});
        height: 100%;
        background-color: green;
        overflow: scroll;
        float: right;
        display: block;
        border: 0;
    }

    #SideNavigationBar {
        height: 600px; //calc(100% - #{$navLogoBoxHeight} - 1300px);
    }

    #SideNavigationItems { // ol
        padding-left: 40px;
        margin: 0 auto;
        overflow: hidden;
        height: 100%;
        width: 136px;

        li {
            line-height: 30px;
        }

        .level2 { // li
            position: relative;
            img {
                position: absolute;
                width: 30px;
                height: 30px;
                left: -32px;
                background-color: skyblue;
            }
        }

    }

    #SearchInput {
        top: 30px;
        margin: 0 auto;
    }

    #LabelDot, #LabelManual {
        display: none;
    }
}

// search related.
#Search {
    .isOverview & {
        height: calc(100% - #{$ovNavBarHeight});
        margin-top: 0;
        background-color: orange;
        overflow-y: hidden;
    }
    .isPageview & {
        width: calc(100% - #{$pvNavBarWidth});
        height: 100%;
        background-color: orange;
        overflow: scroll;
        float: right;
        display: block !important;
        border: 0;
        z-index: 50000;
    }
}

#SearchInput {
    position: absolute;
    width: 260px;
    height: 24px;
}


// Logo related
$logoHeight: 48px;

#NavLogoBox {
    height: 100%;
    display: flex;
    > a {
        display: block;
        margin: auto 0;
        margin-left: 20px;
        height: $logoHeight;
    }
}

#AppLogo {
    background-color: green;
    width: 48px;
    height: $logoHeight;
    float: left;
    margin-right: 15px;
}

#AppName, #LabelDot, #LabelManual {
    height: $logoHeight;
    line-height: $logoHeight;
    float: left;
}

// Frame, border, etc
#OuterFrame {
    padding: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
    background-color: skyblue;
    position: fixed;
    width: 100%;
    z-index: -100;
}

#MoveHandle {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: darkmagenta;
    height: 30px;
    margin: 3px 3px 0;
}

#FrameBar {
    position: fixed;
    z-index: 10000;
    right: $csdRW;
    .Btn {
        width: 30px;
        height: 30px;
        margin: 5px;
        float: left;
        -webkit-app-region: no-drag;
    }
}

#MinimizeBtn {
    background-image: url("../resources/frame/dark_minimise_normal.png");
    &:hover {
        background-image: url("../resources/frame/dark_minimise_hover.png");
    }
    &:active {
        background-image: url("../resources/frame/dark_minimise_press.png");
    }
}

#MaximizeBtn {
    background-image: url("../resources/frame/dark_maximize_normal.png");
    &:hover {
        background-image: url("../resources/frame/dark_maximize_hover.png");
    }
    &:active {
        background-image: url("../resources/frame/dark_maximize_press.png");
    }
}

.isMaximized #MaximizeBtn {
    background-image: url("../resources/frame/dark_unmaximize_normal.png");
    &:hover {
        background-image: url("../resources/frame/dark_unmaximize_hover.png");
    }
    &:active {
        background-image: url("../resources/frame/dark_unmaximize_press.png");
    }
}

#CloseBtn {
    background-image: url("../resources/frame/dark_close_normal.png");
    &:hover {
        background-image: url("../resources/frame/dark_close_hover.png");
    }
    &:active {
        background-image: url("../resources/frame/dark_close_press.png");
    }
}