[D-BUS Service]
Name=com.deepin.Manual.Open
Exec=/usr/bin/busctl --user call -- com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager LaunchApp suas /usr/share/applications/deepin-manual.desktop 0 1 --dbus
