
#AppIcon {
  image: url(:/common/images/deepin-manual.svg);
}

#BackButton {
  qproperty-normalPic: url(:/light/images/back_normal.svg);
  qproperty-hoverPic: url(:/light/images/back_hover.svg);
  qproperty-pressPic: url(:/light/images/back_press.svg);
}

#ForwardButton {
  qproperty-normalPic: url(:/light/images/forward_normal.svg);
  qproperty-hoverPic: url(:/light/images/forward_hover.svg);
  qproperty-pressPic: url(:/light/images/forward_press.svg);
}