html, body {
  width: 100%;
  min-width: 1024px;
  overflow: hidden;
  margin: 0px; }

#app {
  width: 100%;
  outline: 0px;
  color: #464646;
  height: 100%;
  overflow: auto; }

@charset "UTF-8";
#article {
  float: right;
  width: 84%; }
  #article .read {
    margin: auto;
    width: 700px;
    font-size: 13px;
    color: #000;
    outline: 0px; }
    #article .read h2 {
      font-weight: normal;
      font-size: 20px;
      color: #1f94ee;
      margin: 0px;
      padding-top: 23px; }
    #article .read li {
      line-height: 24px; }
    #article .read img[src$="svg"] {
      height: 20px;
      vertical-align: middle; }
    #article .read img[src$="png"] {
      margin-top: 26px;
      max-width: 99%;
      cursor: pointer; }
    #article .read p {
      line-height: 2em;
      margin: 0; }
    #article .read table {
      font-size: 12px;
      color: #606060;
      border-collapse: collapse;
      border-top: 2px solid rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      white-space: nowrap; }
      #article .read table.block1 {
        width: 100%; }
      #article .read table.block2 {
        width: 50%; }
      #article .read table.block3 {
        width: 33.33333%; }
      #article .read table.block4 {
        width: 25%; }
      #article .read table tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
        #article .read table tr td {
          padding: 5px; }
    #article .read a {
      text-decoration: none;
      font-weight: bold;
      color: #757575;
      cursor: pointer; }
      #article .read a[href^="http"]:after {
        content: "🔗"; }
      #article .read a[href^="#"] {
        color: #0082fa; }
    #article .read .searchWK {
      background-color: yellow; }
  #article #fillblank {
    width: 100%;
    height: 100%; }
  #article #preview {
    position: absolute;
    width: 500px;
    height: 200px;
    left: 0;
    top: 0;
    z-index: 99;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #757575;
    border-radius: 4px;
    margin: auto; }
    #article #preview .read {
      width: 80%;
      margin: auto;
      font-size: 12px; }

#index {
  user-select: none;
  width: 805px;
  margin: auto;
  margin-bottom: 100px; }
  #index h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 2em;
    margin: 1em 0 0;
    border-bottom: 1px solid #d7d7d7; }
  #index .items .item {
    margin-top: 30px;
    margin-right: 50px;
    width: 160px;
    height: 160px;
    display: inline-block;
    text-align: center;
    cursor: pointer; }
    #index .items .item img {
      width: 96px;
      padding-top: 20px;
      margin-bottom: 10px; }
    #index .items .item span {
      white-space: nowrap;
      font-size: 16px;
      font-weight: normal; }
    #index .items .item:nth-child(4n) {
      margin-right: 0; }
    #index .items .item:hover {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.05); }

#nav {
  float: left;
  width: 15%;
  min-width: 160px;
  overflow-y: auto;
  white-space: nowrap;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  #nav h2 {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #00162c;
    padding: 3px 0px;
    margin: 0px;
    margin-bottom: 9px;
    text-indent: 34px; }
  #nav h3 {
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    padding: 6px 0px;
    margin: 0px;
    margin-bottom: 9px;
    text-indent: 44px; }
  #nav .hash {
    border-right: #30A5F9 5px solid;
    background-color: #D5EDFE;
    color: #2ca7f8;
    font-weight: 500; }
