<!DOCTYPE html>
<html ng-app="DManual" lang="en" ng-controller="MainCtrl">
<head>
    <meta charset="UTF-8">
    <script src="./scripts/bundle.js"></script>
    <script src="./scripts/adapter.js"></script>
    <link rel="stylesheet" href="./style/index.css" />
    <title>{{appInfo.name}} - {{ 'TEXT_APP_TITLE'|translate }}</title>
</head>
<body class="isOverview" ng-class="{'compact-mode': isCompactMode}">
<div id="OuterFrame" ng-style="outerFrameStyle">
    <div id="MoveHandle"></div>
</div>
<div id="FrameBar">
    <a id="MinimizeBtn" class="Btn" href="javascript: minimize()"></a>
    <a id="MaximizeBtn" class="Btn" href="javascript: maximize()"></a>
    <a id="CloseBtn" class="Btn" href="javascript: close()"></a>
</div>

<div id="Container">
    <div ng-include="'./partials/NavigationBar.html'"></div>
    <div ng-include="'./partials/SearchBox.html'"></div>
    <iframe id="Content" ng-show="isPageview && (!isSearchmode)" srcdoc="{{htmlOutput}}"
        sandbox="allow-same-origin allow-scripts" seamless></iframe>
    <section ng-show="isOverview && (!isSearchmode)" id="Overview" ng-include="'./partials/Overview.html'"></section>
    <div id="Search" ng-show="isSearchmode" ng-controller="SearchCtrl">
        <ul>
            <li ng-repeat="match in indices | filterHighlight:searchTerm:keywords">
                <h5><a class="anchor" ng-click="jumpTo(match.anchorId)">{{ match.anchorText }}</a></h5>
                <p ng-repeat="text in match.texts" class="match-text" ng-bind-html="text"></p>
            </li>
        </ul>
    </div>
</div>

</body>
</html>